<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
<div class="row">
<div class="col-md-2">

</div>
<div class="col-md-6">
  <div class="card" style="height: 100%;">
    <div class="card-header">
      <h4 class="card-title" id="basic-layout-round-controls">Add Admin</h4>

    </div>
    <div class="card-content collapse show">
      <div class="card-body">


        <!-- <form class="form"> -->
          <div class="form-body">

            <div class="form-group">
              <label for="complaintinput1">User Name</label>
              <input type="text" id="complaintinput1" class="form-control round" placeholder="Enter User Name" name="companyname"><br>
              <label for="complaintinput1">Password</label>
              <input type="password" id="complaintinput1" class="form-control round" placeholder="Enter Password" name="companyname">
            </div>
</div>
<button type="submit" class="btn btn-primary">
Submit
</button>

        <!-- </form> -->
      </div>
    </div>
  </div>
</div>

</div>




    </div>
  </div>
</div>

