<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-6">
    <div class="card" style="height: 100%;">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-round-controls">Add Student</h4>

      </div>
      <div class="card-content collapse show">
        <div class="card-body">
        <!-- <form class="form"> -->
            <div class="form-body">

              <div class="form-group">
                <label for="complaintinput1">Admission Number</label>
                <input type="text" id="complaintinput1" class="form-control round" placeholder="Enter Admission Number" name="companyname">
              </div>

              <div class="form-group">
                <label for="complaintinput2">Student Name</label>
                <input type="text" id="complaintinput2" class="form-control round" placeholder="Enter Student Name" name="employeename">
              </div>
              <div class="form-group">
                <label for="complaintinput2">Student Photo</label>
                <input type="file" id="complaintinput2" class="form-control round" >
              </div>

              <div class="form-group">
                <label for="issueinput6">Class</label>
                <select id="issueinput6" name="status" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top"  data-original-title="" title="">
                  <option disabled>Enter Class</option>
                  <option value="started">1</option>
                  <option value="fixed">2</option>
                  <option value="fixed">3</option>
                </select>
              </div>


              <div class="form-group">
                <label for="issueinput6">Section</label>
                <select id="issueinput6" name="status" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top"  data-original-title="" title="">
                  <option disabled>Enter Section</option>
                  <option value="started">A</option>
                  <option value="fixed">B</option>
                  <option value="fixed">C</option>
                </select>
              </div>

              <div class="form-group">
                <label for="complaintinput2">Parent Guardian Name</label>
                <input type="text" id="complaintinput2" class="form-control round" placeholder="Enter Guardian Name" name="employeename">
              </div>


              <div class="form-group">
                <label for="issueinput6">Blood Group</label>
                <select id="issueinput6" name="status" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top"  data-original-title="" title="">
                  <option disabled>Enter Blood Group</option>
                  <option value="started">o+</option>
                  <option value="fixed">A+</option>
                  <option value="fixed">B+</option>
                </select>
              </div>
              <div class="form-group">
                <label for="complaintinput2"> Phone Number</label>
                <input type="text" id="complaintinput2" class="form-control round" placeholder="Enter Phone Number" name="employeename">
              </div>
              <div class="form-group">
                <label for="complaintinput2"> Aadhar Number</label>
                <input type="text" id="complaintinput2" class="form-control round" placeholder="Enter Aadhar Number" name="employeename">
              </div>
              <div class="form-group">
                <label for="complaintinput2"> House Name</label>
                <input type="text" id="complaintinput2" class="form-control round" placeholder="Enter House Name" name="employeename">
              </div>
              <div class="form-group">
                <label for="complaintinput2"> Address</label>
                <textarea id="issueinput8" rows="5" class="form-control" name="comments" placeholder="Enter Address" data-toggle="tooltip" data-trigger="hover" data-placement="top"  data-original-title="" title=""></textarea>
              </div>

            </div>

            <div class="form-actions">

              <button type="submit" class="btn btn-primary">
                Submit
              </button>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>

</div>




      </div>
    </div>
  </div>

