<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="card" style="height: 100%;">
            <div class="card-header">
              <h4 class="card-title" id="basic-layout-round-controls">
                Add Student
                <span style="float: right;">School name : {{ schoolCd }}</span>
              </h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <form class="form" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
                  <div class="form-body">
                    <div class="form-group">
                      <label>Student Name *</label>
                      <input type="text" class="form-control round" placeholder="Enter Student Name"
                        formControlName="studentName" />

                    </div>

                    <div class="form-group">
                      <label for="issueinput4">Class *</label>
                      <select id="issueinput4" placeholder="Enter Class" formControlName="classroom"
                        class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top"
                        data-original-title="" title="" #classroomVal (change)="onChangeClass(classroomVal.value)">
                        <option disabled selected>Enter Class</option>
                        <option *ngFor="let item of classroom" [value]="item">{{item}}</option>

                      </select>
                    </div>
                    <div class="form-group">
                      <label for="issueinput5">Section *</label>
                      <select id="issueinput5" placeholder="Enter Section" formControlName="section"
                        class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top"
                        data-original-title="" title="">
                        <option disabled selected>Enter Section</option>
                        <option *ngFor="let ele of classSection">{{ele}}</option>

                      </select>
                    </div>
                    <div class="form-group">
                      <label for="complaintinput9">Roll Number</label>
                      <input type="text" id="complaintinput9" class="form-control round"
                        placeholder="Enter Admission Number" formControlName="rollNbr" />
                    </div>
                    <div class="form-group">
                      <label for="complaintinput1">Admission Number</label>
                      <input type="text" id="complaintinput1" class="form-control round"
                        placeholder="Enter Admission Number" formControlName="admissionNumber" />
                    </div>
                    <div class="form-group">
                      <label for="complaintinput1">Parent /Guardian's Name</label>
                      <input type="text" id="complaintinput1" class="form-control round"
                        placeholder="Enter Admission Number" formControlName="parentName" />
                    </div>

                    <!--
              <fieldset class="form-group">
                <div class="form-group">
                  <label for="exampleFormControlFile1">Enter Profile</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1" formControlName="photoLocation" (change)="handleFileInput($event)">
                </div>

            </fieldset> -->

                    <div class="form-group">
                      <input type="hidden" id="complaintinput5" class="form-control round" formControlName="schoolCd"
                        value="{{ schoolCd }}" />
                    </div>
                    <!-- <div class="form-group">
                <label for="issueinput5">School Code</label>
                <input type="text" value="{{schoolCd}}" />
                <select #school (change)="onSelect(school.value)"  class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top"  data-original-title="" title="">

                  <option  *ngFor="let school of schools | slice:1 " [value]="school.schoolCd">{{school.schoolCd}}</option>

                </select>
              </div> -->

                    <div class="form-group">
                      <label for="complaintinput6">Mobile Number</label>
                      <input type="text" id="complaintinput6" class="form-control round"
                        placeholder="Enter Mobile Number" formControlName="phoneNumber" />
                    </div>
                    <div class="form-group">
                      <label for="issueinput7">House / Group Name</label>
                      <select id="issueinput7" placeholder="House / Group Name" formControlName="houseName"
                        class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top"
                        data-original-title="" title="">
                        <option value="male">house Name 1</option>
                        <option value="female">house Name 2</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="issueinput7">Blood Group</label>
                      <select id="issueinput7" formControlName="bloodGroup" class="form-control" data-toggle="tooltip"
                        data-trigger="hover" data-placement="top" data-original-title="" title="">
                        <option disabled selected>Enter Blood Group</option>
                        <option value="0+">o+</option>
                        <option value="A+">A+</option>
                        <option value="B+">B+</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="complaintinput8"> Aadhar Number</label>
                      <input type="text" id="complaintinput8" class="form-control round"
                        placeholder="Enter Aadhar Number" formControlName="aadharNbr" />
                    </div>
                    <div class="form-group">
                      <label for="complaintinput8"> Date Of Birth</label>
                      <input type="date" id="complaintinput8" class="form-control round"
                        placeholder="Enter Date Of Birth" formControlName="dateOfBirth" />
                    </div>

                    <div class="form-group">
                      <label for="projectinput8">Address</label>
                      <textarea id="projectinput8" rows="5" class="form-control" formControlName="address"
                        placeholder="Address"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="issueinput7">Status</label>
                      <select id="issueinput7" placeholder="Status" formControlName="idCardStatus" class="form-control"
                        data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="" title="">
                        <option value="pending">Pending</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>